.text-sm {
  font-size: 0.8rem; }

.container {
  margin-inline: 10%; }

.pill {
  padding: 0.6rem 2rem !important;
  border-radius: 2rem; }

.img-grayscale {
  filter: grayscale(1); }

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6; }

h1 {
  font-size: 3.052rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem; }

h4 {
  font-size: 1.25rem; }

p,
a {
  font-size: 1rem; }

.nav__logo {
  font-size: 1.953rem;
  font-weight: 700;
  font-size: 3rem; }

@keyframes moveUpThenDown {
  0%,
  100% {
    transform: translate(-50%, -50%); }
  50% {
    transform: translate(-50%, -150%); } }

.nav {
  color: #fff;
  padding-inline: 3%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 50;
  transition: 0.2s; }
  @media screen and (min-width: 1200px) {
    .nav {
      padding-inline: 10%; } }
  .nav__logo a {
    text-decoration: none;
    color: inherit;
    font-size: inherit; }
  .nav__logo span {
    color: #ca2222; }
  .nav ul {
    list-style-type: none;
    display: flex;
    align-items: center; }
    .nav ul li {
      padding: 0.8rem; }
      .nav ul li a {
        color: inherit;
        text-decoration: none; }
        .nav ul li a:hover {
          color: #ca2222;
          transition: 0.3s; }
    .nav ul__collapsed-button {
      width: 20px; }
  .nav__center {
    margin-left: auto; }
    @media screen and (min-width: 750px) {
      .nav__center {
        margin-left: 0; } }
  @media screen and (max-width: 650px) {
    .nav__center, .nav__right {
      transform: translateY(-200px);
      position: absolute; } }

.nav-fixed {
  color: #222;
  background-color: #fff;
  transition: 0.5s;
  position: fixed;
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }

.burger,
.burger::before,
.burger::after {
  border-radius: 10px;
  background-color: var(--color-light);
  transition: all 0.25s ease-in-out;
  width: var(--burger-width);
  height: var(--burger-height); }

.burger::before,
.burger::after {
  content: '';
  position: absolute; }

.burger::before {
  transform: translateY(-8px); }

.burger::after {
  transform: translateY(8px); }

/* animation for hamburger menu */
.burger-menu.opened .burger {
  transform: translateX(-12px);
  background: transparent; }

.burger-menu.opened .burger::before {
  transform: rotate(45deg) translate(8px, -8px);
  background-color: var(--color-dark); }

.burger-menu.opened .burger::after {
  transform: rotate(-45deg) translate(8px, 8px);
  background-color: var(--color-dark); }

.footer {
  background-color: #222;
  color: #fff;
  padding: 3rem 10%; }
  .footer__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .footer__main__section h4 {
      margin-bottom: 1.2rem; }
    .footer__main__section ul {
      list-style-type: none; }
      .footer__main__section ul li:not(:last-child) {
        margin-bottom: 0.4rem; }
      .footer__main__section ul li a {
        color: inherit;
        text-decoration: none; }
        .footer__main__section ul li a:hover, .footer__main__section ul li a:active {
          color: #ca2222; }
        .footer__main__section ul li a i {
          margin-right: 0.4rem;
          color: #ca2222; }
    @media all and (max-width: 750px) {
      .footer__main {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem; } }
    @media all and (max-width: 300px) {
      .footer__main {
        grid-template-columns: 1fr; } }
  .footer__copyright {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 0.4rem; }

.hero {
  position: relative;
  background: linear-gradient(to top, rgba(83, 9, 9, 0.493), rgba(48, 48, 48, 0.685)), url("../../images/Banner1.jpg") center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .hero__text {
    font-size: 3.5rem;
    max-width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem; }
    .hero__text span {
      color: #ca2222; }
    @media screen and (min-width: 1250px) {
      .hero__text {
        max-width: 40%; } }
  .hero__bottom-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%); }

.button {
  padding: 0.7rem 0.9rem;
  cursor: pointer; }

.button-primary-outline, .button-primary-outline:link, .button-primary-outline:visited {
  border: solid 2px #ca2222;
  background-color: inherit;
  color: inherit;
  padding: 0.8rem 2.3rem;
  border-radius: 2.5rem;
  transition: all 0.2s;
  font-size: 1.25rem; }

.button-primary-outline:hover {
  transform: translateY(-7px);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
  background-color: #ca2222; }
  .button-primary-outline:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button-primary-outline:active {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.2);
  background-color: #ca2222; }

.button-primary {
  background-color: #ca2222;
  border: solid 2px #ca2222;
  color: #fff; }
  .button-primary:hover {
    background-color: inherit;
    color: #fff;
    transition: 0.2s; }

.circle-button {
  border-radius: 100%;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: moveUpThenDown 1.75s linear infinite; }
  .circle-button:hover {
    background-color: #ca2222; }

.product-card {
  width: 18rem; }
  .product-card__stars i {
    color: #ca2222; }
  .product-card:hover img {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05); }
  .product-card__title {
    margin-bottom: 1rem; }

.hr {
  width: 5rem;
  height: 0.3rem;
  background-color: #ca2222;
  border: none;
  margin-left: auto;
  margin-right: auto; }

.fresh-fits {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .fresh-fits__list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem; }

.discount {
  text-align: center;
  padding: 5rem;
  background: linear-gradient(to top, rgba(83, 9, 9, 0.493), rgba(48, 48, 48, 0.685)), url(../../images/aditya-vyas-PzhmEp_aDU4-unsplash.jpg) center/cover no-repeat fixed;
  color: #fff; }
  .discount p {
    margin-bottom: 0.8rem; }

.newsletter {
  padding: 1rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5; }
  .newsletter__container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex: 2 1;
    gap: 2rem;
    width: 100%; }
  .newsletter__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .newsletter__right input {
      width: 70%;
      padding: 1.5rem 0;
      text-indent: 1rem;
      border: 1px solid var(--dark-color-alt); }
    .newsletter__right button {
      padding: 1.5rem 3rem;
      background-color: var(--default-color);
      border: 1px solid var(--default-color);
      color: var(--white);
      margin-left: -2rem; }
