.nav {
  color: $white;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 50;
  &__logo {
    & a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }

    & span {
      color: $primary;
    }
  }

  & ul {
    list-style-type: none;
    display: flex;
    align-items: center;

    & li {
      padding: 0.8rem;

      & a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: $primary;
          transition: 0.3s;
        }
      }
    }
  }
}
