.product-card {
  width: 18rem;
  &__stars i {
    color: $primary;
  }

  &:hover img {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
  }

  &__title {
    margin-bottom: 1rem;
  }
}
