.hero {
  position: relative;
  background: linear-gradient(
      to top,
      rgba(83, 9, 9, 0.493),
      rgba(48, 48, 48, 0.685)
    ),
    url('../../images/Banner1.jpg') center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  &__text {
    font-size: 3.5rem;
    max-width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;

    & span {
      color: $primary;
    }

    @media screen and (min-width: 1250px) {
      max-width: 40%;
    }
  }

  &__bottom-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
